web.config
.DS_Store
.ssh/
scripts/
log/*.log
log/*.html
temp/*
!temp/.htaccess
tests/
www/checker/
www/adminer/
www/.sass-cache/
composer.json
readme.txt
scripts/
vendor/nette/
www/scss/bootstrap/
www/users
www/tasks