/* -- buttons -- */
.btn { 
	display:inline-block;
	padding:4px 39px; 
	border:1px solid #ceced2; 
	border-radius:3px; 
	background-color:#dedee3; 
	background-image:url('../img/btn-default.png'); 
	background-size:1px 100%; 
	box-shadow:0 1px 3px rgba(0,0,0,.15); 
	color:#515157; 
	text-decoration:none; 
	font-size:15px; 
	line-height:20px; 
	cursor:pointer;
	-webkit-appearance: none;

	&:hover { 
		border: 1px solid #cacacd; 
		background-image: url('../img/btn-default_hover.png');
		text-decoration: none; 
	}

	&:active { 
		border:1px solid #ceced2;
		background-image:url('../img/btn-default_active.png');
	}
}

.btn-large {
	padding:9px 39px; 
	border-radius:5px; 
}

.btn-primary { 
	border:1px solid #45b584;
	background-color:#59d19d;
	background-image:url('../img/btn-primary.png'); 
	color:#fff; 

	&:active {
		background-image:url('../img/btn-primary_active.png');
	}

	&:hover { 
		border:1px solid #40a87b;
		background-image:url('../img/btn-primary_hover.png'); 
	}
}


.btn-warning { 
	border:1px solid #e6715a; 
	background-color:#ff846c;
	background-image:url('../img/btn-warning.png'); 
	color:#fff;

	&:active {
		background-image:url('../img/btn-warning_active.png');
	}

	&:hover { 
		border:1px solid #d96b55;
		background-image:url('../img/btn-warning_hover.png');
	}
}

.addjob-icon {
	display:none;
}
