/* -- content -- */
.content
{
	padding: 30px 19%;

	border: 1px solid #d5d5da;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,.06);
		h1
	{
		margin-right: 6%;
		margin-left: 6%;
	}
}

.wrapper-narrow
{
	max-width: 980px;
	margin: 0 auto;
	padding-top: 30px;

	text-align: left;
}

.col-half
{
	float: left;

	width: 40%;
	margin-right: 10%;
}
