/* - header - */
.header {
	background-color: #f2f2f4;
	text-align: center;
	z-index: 2;
	position: relative;
	height: 80px;
}

.logo {
	position: relative;
	vertical-align: middle;
	margin: 0 auto;
	line-height: 80px;

	img {
		display: inline;
		vertical-align: middle;
	}
}

.wrapper {
	margin: 0 5%;
	position: relative;
	padding-top: 30px;
}

.jobs-grid {
	margin-left: -30px;
}

.toppanel {
	background-color: #4ece97;
	color: #fff;
	font-size: 20px;
	line-height: 30px;
	padding: 10px 20px;
	text-align: center;
	border-top: 1px solid #42af80;


	a {
		color: #28694c;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

}

.box {
	border: 1px solid #d5d5da;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #fff;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.06);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.06);
	box-shadow: 0 1px 3px rgba(0,0,0,.06);
}
