.jumbotron {
  position: relative;
  width: 100%;
  background-color: @primary-color;
  font-weight: 300;
  text-align: center;
  padding-bottom: 30px;

  .slogan {
    margin: 0 auto 10px;
    max-width: 650px;
    letter-spacing: 0.03em;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: auto;
    color: @white;
    font-weight: 300 !important;
  }

  h1 {
    margin: 10px 0 5px;
    padding-top: 15px;
  }

  p {
    color: @white;

    a {
      color: #3B3C3D;
      text-decoration: underline;
    }
  }

  .job-teaser {
    max-width: 980px;
    padding: 30px 50px 50px;
    border: 1px solid #42AF80;
    background-color: #4BC691;
    border-radius: 6px;
    font-weight: 400;

    @media (max-width: @screen-sm-max){
      padding: 30px 0 50px;
    }

    .job-box {
      margin: 0;
      display: inline-block;
      box-sizing: border-box;
      width: 256px;

      &:nth-child(even) {
        margin: 0 30px;
      }
    }
  }

  .btn-teaser {
    margin: -22px 0 30px;
    height: 44px;
    line-height: 32px;
    vertical-align: middle;
    width: 250px;
    border: 2px solid #169dd8;
    border-radius: 6px;
    color: #169dd8;
    background-color: @white;
    background-image: none;
    background-image: linear-gradient(to bottom, #ffffff 10%, #E1F0F9 100%);
    background-size: auto;
    font-weight: 400;

    &:hover {
      box-shadow: 0 2px 6px #169dd8;
      background-image: linear-gradient(to bottom, #ffffff 50%, #ADffff 100%);
    }
  }
}

.login-wrapper {
  margin-bottom: 10px;
}

.btn-login {
  box-sizing: border-box;
  margin: 15px;
  padding: 10px 15px;
  width: 270px;
  border: 0px;
  background-image: none;
  box-shadow: none;
  color: @white; 
  text-align: center;
  font-size: 17px;
  line-height: 32px;
  vertical-align: middle;
  font-weight: 300;
  white-space: nowrap;

  &:hover {
    text-decoration: none; 
    background-image: none;
    box-shadow:0 3px 6px rgba(0,0,0,.15);
  }

  &:active { 
    // border: 0;
    background-image: none;
  }

}

.btn-facebook {
  .btn-color(@facebook-color);
}

.btn-google {
  .btn-color(@google-color);

}

.btn-email {
  .btn-color(@primary-color, #A7E7CB);
}

.btn-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 5px;
  vertical-align: middle;
  text-align: center;

  &.icon-facebook {
    background: transparent url('../img/icon-btn-facebook.png') 0 0 no-repeat;
  }

  &.icon-google {
    background: transparent url('../img/icon-btn-google.png') 0 0 no-repeat;
  }

  &.icon-email {
    background: transparent url('../img/icon-btn-email.png') 0 0 no-repeat;
  }

}

.wrapper-home {
  margin-top: -30px;
  padding-top: 0;
  position: relative;
  font-size: 13px;
  line-height: 20px;
  color: @color-text;

  .content {
    padding: 30px 60px;
  }

  .cols {
    padding: 0 60px;
  }

  h2 {
    color: @primary-color;
    font-weight: 300;
  }

  h3 {
    font-size: 17px;
    line-height: 40px;
    color: @color-text;
    font-weight: 400;
    margin-bottom: 10px;
  }

  h4 {
    font-size: 15px;
    line-height: 40px;
    font-weight: 400;
    margin-bottom: 0;
  }

  .sparse {
    font-size: 15px;
    line-height: 25px;
  }

  .savings {
    text-align: center;

    h2 {
      font-size: 20px;
      line-height: 30px;
      color: @secondary-color;
      margin: 0;
    }

    h5 {
      color: @secondary-color;
      margin: 0;
    }

  }
  
  hr {
    margin-top: 30px;
  }
  
  .sponsors {
    padding: 0 60px 0;
    text-align: justify;

    img {
      vertical-align: top;
      display: inline-block;
      *display: inline;
      zoom: 1;
    }

    .stretch {
      width: 100%;
      display: inline-block;
      font-size: 0;
      line-height: 0;
    }
  }


}

.footer {
  margin: 15px auto 0;
  color: @color-text-light;
  text-align: center;
  font-size: 12px;

  p {
    margin: 0;
  }
}