/* -- modals -- */
.modal-holder {
	position: fixed; 
	top: 0; 
	right: 0; 
	bottom: 0; 
	left: 0; 
	z-index: 900; 
	display: none; 
	overflow: auto; 
	width: 100%; 
}

.modal { 
	position: relative;
	z-index: 501; 
	margin: 50px auto; 
	width: 570px; 
	border: 1px solid #d5d5d9; 
	border-radius: 5px; 
	background-color: #fff; 
	background-color: #fff; 
	background-clip: padding-box;
	box-shadow: 0 5px 20px rgba(0,0,0,.1); 
	text-align: center; 
	// transform: translate(0,-25%); 
	transition: all .3s ease;
}

.modal,
.single {
	.inner {
		padding: 40px 40px 10px 40px; 
	}

	h1 { 
		margin-bottom: 15px;
		color: #169dd8; 
		font-weight: normal; 
	}

	.price {
		color: @primary-color; 
		font-weight: normal; 
	}

	.details { 
		margin-bottom: 20px; 
		padding: 9px;
		border: 1px solid #f5f5f5; 
		border-radius: 3px; 
		color: #6d6e70; 
		text-align: center; 
		font-size: 13px; 
		line-height: 20px; 
	}

	.details li {
		display: inline-block; 
		padding: 0 20px; 
	}

	textarea {
		margin-bottom: 10px; 
		text-align: left;
	}

	.btn-large {
		margin-bottom: 15px !important; 
	}

	.count {
		font-weight: normal; 
	}

}

.modal-opened .modal {
	transform: translate(0,0); 
}

.modal-close {
	position: absolute; 
	top: 10px; 
	right: 10px; 
	display: block; 
	width: 14px; 
	height: 14px; 
	background: url('../img/modal-close.png') no-repeat;; 
}

.modal-corner {
	position: absolute; 
	top: -1px; 
	left: -1px; 
	display: block; 
	padding-top: 8px; 
	padding-left: 20px; 
	height: 20px; 
	font-size: 11px; 
	line-height: 20px;

	a { 
		color: #b0b0bc;
		text-decoration: none;
		text-transform: uppercase;	
	};
}

.modal-overlay { 
	position: absolute; 
	top: 0; 
	right: 0; 
	bottom: 0; 
	left: 0; 
	z-index: 800; 
	width: 100%; 
	height: 100%;
	background-color: #fff; 
	opacity: 0.8;
}

.form-addjob {
	
	margin: 20px 40px;
	padding-top: 8px; 

	.textinput {
		display: block; 
		box-sizing: border-box; 
		margin: 0 auto; 
		padding: 0; 
		min-width: 0;
		width: auto;
		border: none; 
		border-bottom: 1px dashed #e5e5e7; 
		background: none; 
		text-align: center; 
	}

	.input-tag { 
		margin-top: 10px; 
		margin-bottom: 12px; 
		height: 25px; 
		color: #6d6e70;
		font-size: 15px; 
		line-height: 25px; 

		&::placeholder {
			color: #6d6e70; 
		}
	}

	.tm-tag {
		display: inline-block;
		padding: 3px 6px;
		background-color: @primary-color;
		border-radius: 3px;
		margin: 3px;
		color: @white;
		border: 1px solid darken(@primary-color, 20%);

		.tm-tag-remove {
			margin-left: 10px;
			color: darken(@primary-color, 20%);
		}
	}

	.input-title { 
		margin-bottom: 20px; 
		height: 40px; 
		color: #169dd8;
		font-size: 30px; 
		line-height: 40px;

		&::placeholder {
			color: #169dd8; 
		}
	}

	.salary {
		display: inline-block;
		margin-left: auto;
		text-align: center;

		span {
			display: inline-block;		
			float: left;
			margin-bottom: 33px; 
			height: 40px;
			border: none;
			border-bottom: 1px dashed #e5e5e7; 
			color: @primary-color;
			font-size: 30px; 
			line-height: 40px;
		}

		.input-price {
			display: inline-block;
			float: left;
			margin-bottom: 33px;
			min-width: 68px;
			width: 68px; 
			height: 40px; 
			color: @primary-color;
			font-size: 30px; 
			line-height: 40px;
			
			&::placeholder {
				color: @primary-color;
			}
		}
	}

	.input-description { 
		display: block; 
		box-sizing: border-box; 
		margin: 20px 0; 
		padding-top: 5px; 
		height: 100px; 
		color: #6d6e70; 
		text-align: center;
		font-size: 15px; 
		border: none; 
		background: none;
		border-radius: 6px; 
		
		&::placeholder {
			color: #6d6e70; 
		}
	}
	
	select,
	input:not([type="file"]):not([type="submit"]),
	.custom-select {
		border: none;
		border-bottom: 1px dashed #e5e5e7;
	}

	#budget p {
		margin-bottom: 0;
		color: @secondary-color;
	}

}

.modal-inputs { 
	color: #6d6e70;
	margin: 0 auto 30px;
	// width: 95%; 
}

.modal-col { 
	float: left;
	padding: 0 7px; 
	width: 33%;
	height: 23px;
	// border-bottom: 1px dashed #e5e5e7;

	input,
	select { 
		color: #6b6e70;
		font-size: 13px; 
		line-height: 23px; 
		height: 23px;

		&::placeholder {
			color: #6b6e70; 
		}
	}
	.select-style {
		width: 100%;
		height: 23px;
		line-height: 23px;
		vertical-align: middle;
		overflow: hidden;
		// background: #fff url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 90% 50%;
		border-bottom: 1px dashed #ccc;
	}

	.select-style select {
		padding: 0 8px;
		// width: 130%;
		border: none;
		box-shadow: none;
		background: transparent;
		background-image: none;
		-webkit-appearance: none;
	}

	.select-style select:focus {
		outline: none;
	}

	.textinput {
		width: 100%;
	}

}


.form-modal {

}