parameters:
	database:
		driver: mysql
		socket: /tmp/mysql51.sock
		dbname: alpha
		user: alpha
		password: ?frorged0
	facebook:
		appId: '620649794619033'
		secret: 7de96cb0032c76e17f1db95586bb4b13
	google:	
		id: 1029118455401.apps.googleusercontent.com
		secret: QSgb9LNmnJmVdlFLBTlq7c_o
		key: AIzaSyDM7vc3DZRQ5Ln7047YbJb9LTC77tMKX9A
	paypal:
		endpoint: api.sandbox.paypal.com
		clientId: AelPnBC49E1NaV86S1I5TSpoYsIibZyVzaMOG8jPZuqQ3Vbf4RCZAvrAYhH1
		secret: EC85PBDNJvChqOsXdJ-dtR580nbWEwhkZEh_rrVxtGTIr_NfPFndpHA5OFrq

nette:
	debugger:
