#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#

php:
	date.timezone: Europe/Vienna
	# zlib.output_compression: yes

nette:
	application:
		errorPresenter: Error
		mapping:
			*: App\*Module\*Presenter

	xhtml: no

	session:
		autoStart: true
		expiration: "+15 days"

	database:
		dsn: '%database.driver%:dbname=%database.dbname%'
		user: %database.user%
		password: %database.password%
		reflection: discovered

	mailer: %mailer%

	latte:
		macros:
			- Taco\Nette\Latte\FormMacros::install


translation:
	default: en
	whitelist: ['sk', 'cs', 'en']
	fallback: [en_GB, en]

services:
#	cacheStorage:
#		class: Nette\Caching\Storages\MemcachedStorage('localhost', 11211)

	- App\RouterFactory
	router: @App\RouterFactory::createRouter

	- Model\Repositories\UserRepository
	- Model\Repositories\User_detailsRepository
	- Model\Repositories\RelationshipRepository
	- Model\Repositories\Relationship_typeRepository
	- Model\Repositories\Accepted_taskRepository
	- Model\Repositories\TaskRepository
	- Model\Repositories\BudgetRepository
	- Model\Repositories\Budget_typeRepository
	- Model\Repositories\Attachment_typeRepository
	- Model\Repositories\TagRepository
	- Model\Repositories\Task_statusRepository
	- Model\Repositories\Task_attachmentRepository
	- Model\Repositories\CommentRepository
	- Model\Repositories\ResultRepository
	- Model\Repositories\Result_attachmentRepository
	- Model\Repositories\Department_nameRepository
	- Model\Repositories\WalletRepository
	- Model\Repositories\IncomeRepository
	- Model\Repositories\EmailRepository
	- Model\Repositories\PollRepository
	- Model\Repositories\QuestionRepository

	- Model\Services\SignService
	- Model\Services\TaskService
	- Model\Services\UserService
	- Model\Services\PollService

	payService:
		class: Model\Services\payService
		setup:
			- $fees(%fees%)

	mailerService: 
		class: Utilities\MailerService

	fileManager: 
		class: Utilities\FileManager
		setup:
			- $uploadFolders(%uploads%)
			- $wwwDir(%wwwDir%)

	facebookSDK: 
		class: Facebook({appId: %facebook.appId%, secret: %facebook.secret%})

	googleSDK: 
		class: Google([id: %google.id%, secret: %google.secret%])

factories:
	registerForm: 
		implement: Controls\IRegisterFormControlFactory

	loginForm: 
		implement: Controls\ILoginFormControlFactory

	socialLogin: 
		implement: Controls\ISocialLoginControlFactory

	addTask:
		implement: Controls\IAddTaskControlFactory

	editTask:
		implement: Controls\IEditTaskControlFactory

	userDetails:
		implement: Controls\IUserDetailsControlFactory

	paypal:
		implement: Controls\IPaypalControlFactory
		setup:
			- $paypal(%paypal%)

authentication:
	email: 
		class: Model\Authenticators\PasswordAuthenticator
		autowired: no
	facebook: 
		class: Model\Authenticators\FacebookAuthenticator
		autowired: no
	google: 
		class: Model\Authenticators\GoogleAuthenticator
		autowired: no

parameters:
	database:
		driver: mysql
		socket: /tmp/mysql51.sock
		dbname: taskie
		user: taskie
		password: nu/swad9

	fees:
		fix: 0.50
		commission: 1.05 

	mailer:
		smtp: true
		host: smtp.websupport.sk
		secure: 'ssl'
		port: 465
		username: info@dataworkers.eu
		password: HDCDB20b4t2
		defaultFrom: 'info@dataworkers.eu'

	facebook:
		appId: '347648758678722'
		secret: f15d3f1530ef80c70ab0cc9d80bd03b7
		scope: 'email'

	google:	
		id: 1029118455401.apps.googleusercontent.com
		secret: QSgb9LNmnJmVdlFLBTlq7c_o
		key: AIzaSyDM7vc3DZRQ5Ln7047YbJb9LTC77tMKX9A
		scope: 
			- 'https://www.googleapis.com/auth/userinfo.profile'
			- 'https://www.googleapis.com/auth/userinfo.email'

	paypal:
		mode: 'sandbox'

	uploads:
		tasks: /tasks/
		users: /users/

extensions:
	authentication: VojtechDobes\MultiAuthenticatorExtension
	translation: Kdyby\Translation\DI\TranslationExtension
