{layout '../@layout.latte'}
{block content}
<div class="">
	<div class="bs-container-fluid">
		<div class="bs-row">
			<div class="col-sm-4 col-sm-offset-4">
				<h1>Soon coming...</h1>
			</div>
		</div>
	</div>
</div>

{/block}
