{#content}
 	<div class="row">
 		<div class="jumbotron">
 			<div class="container">
 				<h1>{_survey.thanks.jumbo}</h1>
 				<p>{_survey.thanks.info}</p>
 				<p>
 				</p>
 			</div>
 		</div>
	</div>
{/#}

{#scripts}
	{include #parent}
{/#}