			{form discussForm class => "discuss-form form clearfix" }
				
				<!--  Error messages for current form -->
				<div class="errors" n:if="$form->hasErrors()">
					<div n:foreach="$form->errors as $error" class="alert alert-danger">
						<button type="button" class="bs-close" data-dismiss="alert">&times;</button>
						{$error}
					</div>
				</div>

				<legend>Comments <span class="count">({count($control->task->discuss)})</span></legend>
				{input content}{errors content}
				{input submit type=>'submit', class=>'btn btn-right'}

			{/form}

			<div class="inner">
				<div class="comment" n:foreach="$control->task->discuss as $index => $comment">
					<div class="comment-avatar">
						<a href="{plink User:detail $comment->author->token}">
						{if isset($comment->author->profilePhoto)}
						<img src="{thumbnail $comment->author->profilePhoto small}" class="img-circle" />
						{else}
						<img src="{$basePath}/img/profile-small.png" class="img-circle" />
						{/if}
						</a>
					</div>
					<div class="comment-content">
						<h4 class="comment-author">[{$index + 1}] <a href="{plink User:detail $comment->author->token}">{$comment->author->firstName} {$comment->author->lastName}</a></h4>
						<div class="comment-message">
							<p>{$comment->content}</p>
							<div class="comment-time">{$comment->created|date}</div>
						</div>
					</div>
				</div>
			</div>
