	<a class="btn btn-login btn-facebook" n:href="facebook"><span data-icon="&#xe000;" aria-hidden="true"></span> {_login.button.facebook}</a>
	<a class="btn btn-login btn-google" n:href="google"><span data-icon="&#xe001;" aria-hidden="true"></span> {_login.button.google}</a>