<div class="social-login">
	<a class="btn btn-social btn-facebook" n:href="facebook"><span data-icon="&#xe000;" aria-hidden="true"></span> {_login.button.facebook}</a>
</div>
<!-- <div class="social-login">
	<a class="btn btn-social btn-twitter" n:href="facebook"><span data-icon="&#xe002;" aria-hidden="true"></span> Log in with Twitter</a>
</div> -->
<div class="social-login">
	<a class="btn btn-social btn-google" n:href="google"><span data-icon="&#xe001;" aria-hidden="true"></span> {_login.button.google}</a>
</div>