	<a class="btn btn-login btn-facebook" n:href="facebook"><span class="btn-icon icon-facebook"></span> {_login.button.facebook}</a>
	<a class="btn btn-login btn-google" n:href="google"><span class="btn-icon icon-google"></span> {_login.button.google}</a>