header:
	add_new_task: "Add new task"
form:
	title: "We need to..."
	title_missing: "You did not enter any title"
	description: "Description"
	description_missing: "You forgot to describe the task..."
	get_salary: "Get"
	salary: "..."
	salary_missing: "How much do you want to pay?"
	budget_type: "Budget type"
	tags: "Insert category tags ..."
	upload:	"Upload"
	workers_required: "How many workers do you need?"
	deadline: "Deadline"
	departments: "Departments"
	promotion: "Promotions:"
	costs: "Estimated costs"
	submit: "I'm done, publish the job"
	cancel: "Cancel"
	attachments: "Attachments"

budgetType:
	Pay_only_the_best_one: "Pay only the best one"
	Pay_best_10_users: "Pay best 10 users"
	Pay_all: "Pay all"

flashes:
	task_added: "Task successfully added!"
	task_edited: "Task edited!"