header:
	add_new_task: "Pridať úlohu"
form:
	title: "Potrebujem urobiť..."
	title_missing: "Nezadali ste nadpis"
	description: "Sem zadajte popis úlohy..."
	description_missing: "Zabudli ste napísať popis úlohy..."
	get_salary: "Zarob"
	salary: "..."
	salary_missing: "Nezadali ste žiadnu hodnotu"
	budget_type: "Typ ohodnotenia"
	tags: "Tagy pre zaradenie"
	upload:	"Nahraj"
	workers_required: "Koľko potrebujete pracovnikov?"
	deadline: "Deadline"
	departments: "Oddelenia"
	promotion: "Zvýraznenie"
	costs: "Celkové náklady"
	submit: "Hotovo, odoslať zadanie!"
	cancel: "Zrušiť"
	attachments: "Prílohy"

budgetType:
	Pay_only_the_best_one: "Iba najlepší"
	Pay_best_10_users: "Najlepších 10"
	Pay_all: "Všetkým"

flashes:
	task_added: "Úloha pridaná!"
	task_edited: "Úloha upravená!"