jumbo:
	slogan-main: "Hľadáte rýchle riešenia? Crowdsourcujte..."
	slogan-side: "Spájame kvalifikovaných ľudí na splnenie Vašich úloh. Rýchlejšie. Kvalitnejšie. Online."
body: 
	header-worker: "Chcem zarobiť"
	header-employer: "Chcem ušetriť"
