button:
	google: "Prihlásiť cez Google+"
	facebook: "Prihlásiť cez Facebook"
	email-login: "Prihlásiť emailom"

form:
	email: "Email"
	email-warning: "Nezadali ste email"
	password: "Heslo"
	password-warning: "Nezadali ste heslo"
	sign-in: "Prihláste sa"

loginForm:

registerForm:
	password-length: "Heslo musí mať min. %length% znakov"
	password-match: "Heslá sa musia zhodovať"
	password-repeat: "Zopakovať heslo"
	password-repeat-warning: "Nezopakovali ste heslo"
	sign-up: "Registrovať"

template:
	login: "Prihlásiť"
	sign-up: "Zaregistrujte sa"
	email-sign-up: "Registrovať emailom"
	already-registered: "Už ste registrovaný?"
	not-registered: "Ešte nemáte účet?"
	prefer: "Prefer e-mail?"

flashes:
	register-success: "Registrácia úspešná!"
	login-success: "Prihlásenie úspešné"
	social-login-success: "Úspešné prihlásenie pomocou %type% účtu."
	google-permission: "Prosím povoľte prístup k údajom z Vášho Google účtu kvôli úspešnému prihláseniu."