button:
	google: "Sign up with Google+"
	facebook: "Sign up with Facebook"
	email-login: "Sign up with E-mail"

form: 
	email: "Email"
	email-warning: "You did not enter yor email"
	password: "Password"
	password-warning: "You did not enter your password"
	sign-in: "Sign in now"

loginForm:

registerForm:
	password-length: "Password must be at least %length% characters long."
	password-match: "Passwords must match."
	password-repeat: "Repeat password"
	password-repeat-warning: "You did not repeat your password."
	sign-up: "Sign up now"

template:
	login: "Login"
	sign-up: "Sign up"
	email-sign-up: "Sign up with your E-mail"
	already-registered: "Already have an account?"
	not-registered: "You don't have account yet?"
	prefer: "Prefer e-mail?"

flashes:
	register-success: "Successfully registered!"
	login-success: "Logged in"
	social-login-success: "Successfully logged in with your %type% account."
	google-permission: "Please allow this application to access your Google account in order to log in."