button:
	google: "Log in with Google"
	facebook: "Log in with Facebook"
	email_login: "Log in with your email"

form: 
	email: "Email"
	email_warning: "You did not enter yor email"
	password: "Password"
	password_warning: "You did not enter your password"
	sign_in: "Sign in"

loginForm:

registerForm:
	password_length: "Password must be at least %length% characters long."
	password_match: "Passwords must match."
	password_repeat: "Repeat password"
	password_repeat_warning: "You did not repeat your password."
	sign_up: "Sign up"

template:
	login: "Login"
	email_sign_up: "Sign up with your email"
	already_registered: "Already registered?"
	log_in_email: "Login with your email"
	sign_up_email: "Sign up with your email"

flashes:
	register_success: "Successfully registered!"
	login_success: "Logged in"
	social_login_success: "Successfully logged in with your %type% account."
	google_permission: "Please allow this application to access your Google account in order to log in."