flash:

warning:

error:
	task_not_found: "Task with ID: %token% was not found, or removed..."
	not_accepted: "You have not accepted this task"
	not_owner: "You are not allowed to see the results for this task."
	not_assigned_to_user: "This task was not accepted by this user"

exception:
	insuficient_credit: "Insuficient credit in your wallet"