{block content}
<div class="container">
	<div class="socials">
		{control socialLogin}
	</div>
	<div class="sign-info">
		<p>{_login.template.already_registered} <a n:href="Homepage:">{_login.form.sign_in}</a></p>
	</div>
	{control registerForm}
	{control loginForm}
</div>
{/block}