/* SIGNUP & LOGIN CSS
-------------------------------------------------- */
.btn {
	@include transition($btn-trans);
}

.social-login { 
	margin: 15px 0; 
}

.btn-social { 
	color: #fff;
	font-weight: normal; 
	font-size: 12px; 
	text-transform: uppercase; 
	letter-spacing: 0.1em; 
	width: 220px;
	padding: 12px 24px; 
	border-radius: $border-radius-base; 
	text-align: left;

	&:hover { 
		background-color: #fff; 
		border-color: $border-grey; 
	}

}

.btn-facebook { 
	background-color: $facebook; 
	&:hover { color: $facebook; }
}
.btn-twitter { 
	background-color: $twitter; 
	&:hover { color: $twitter; }
}
.btn-google { 
	background-color: $google; 
	&:hover { color: $google; }
}
.btn-sign { 
	padding: 12px 24px; 
	font-size: 12px; 
	font-size:12px; 
}