@mixin font-face($font-family, $file-path, $weight: normal, $style: normal, $asset-pipeline: false ) {
	@font-face {
		font-family: $font-family;
		font-weight: $weight;
		font-style: $style;

		@if $asset-pipeline == true {
			src: font-url('#{$file-path}.eot');
			src: font-url('#{$file-path}.eot?#iefix')     format('embedded-opentype'),
			font-url('#{$file-path}.woff')                format('woff'),
			font-url('#{$file-path}.ttf')                 format('truetype'),
			font-url('#{$file-path}.svg##{$font-family}') format('svg');
		} @else {
			src: url('#{$file-path}.eot');
			src: url('#{$file-path}.eot?#iefix')          format('embedded-opentype'),
			url('#{$file-path}.woff')                     format('woff'),
			url('#{$file-path}.ttf')                      format('truetype'),
			url('#{$file-path}.svg##{$font-family}')      format('svg');
		}
	}
}

@mixin flexbox() {
	display: 	 -webkit-box;
	display:   		-moz-box;
	display: 	 -ms-flexbox;
	display: 	-webkit-flex;
	display: 			flex;
}

@mixin flex($values) {
	-webkit-box-flex: $values;
	   -moz-box-flex: $values;
		-webkit-flex: $values;
			-ms-flex: $values;
				flex: $values;
}

@mixin flex-order($val) {
	-webkit-box-ordinal-group: $val;  
	   -moz-box-ordinal-group: $val;     
			   -ms-flex-order: $val;     
				-webkit-order: $val;
						order: $val;
}

@mixin flex-direction($val) {
	-webkit-flex-direction: $val;
		-ms-flex-direction: $val;
			flex-direction: $val;

}

@mixin flex-wrap($val) {
	-webkit-flex-wrap: $val;
		-ms-flex-wrap: $val;
			flex-wrap: $val;
}

@mixin flex-pack($val) {
			-webkit-box-pack: $val;
	 		   -moz-box-pack: $val;
	 -webkit-justify-content: $val;
			   -ms-flex-pack: $val;
			 justify-content: $val;
}

@mixin flex-align($val) {
	  -webkit-box-align: center;
	   	 -moz-box-align: center;
	-webkit-align-items: center;
		 -ms-flex-align: center;
		 	align-items: center;
}

// Retina images mixin
@mixin background-image-retina($file, $type, $width, $height) {
	background-image: url($file + '.' + $type);

	@media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
		& {
			background-image: url($file + '_@2X.' + $type);
			-webkit-background-size: $width $height;
		}
	}
}