{block notifier}{/block}


{block #content}
	<div class="wrapper-narrow">	
		{snippet add}
		<div class="single">
			{control addTask}
		</div>
		{/snippet}
	</div>
{/block}

{block #scripts}
    <script type="application/javascript">
	$(document).ready(function () {
		$('.file-uploader').filePreuploader({
			autoSubmitBy: 'input[name="attachmentPreload"]',
			snippet: '.attachements',
			spinnerUrl: '/img/preloader.gif'
		});
	});
    </script>
{/block}
