{block notifier}{/block}


{block #content}
	<div class="wrapper-narrow">
		<div class="content">
			{control editTask}
		</div>
	</div>
{/block}

{block #scripts}
    <script type="application/javascript">
	$(document).ready(function () {
		$('.file-uploader').filePreuploader({
			autoSubmitBy: 'input[name="attachmentPreload"]',
			snippet: '.attachements',
			spinnerUrl: '/img/preloader.gif'
		});
	});
    </script>
{/block}
