{block #head}
    <script type="application/javascript">
	$(document).ready(function () {
		$('.file-uploader').filePreuploader({
			autoSubmitBy: 'input[name="attachmentPreload"]',
			snippet: '.attachments',
			spinnerUrl: '/images/spinner.gif'
		});
	});
    </script>
{/block}

{block #content}
    <div class="single-task">
    {snippet task}
        {control editTask}
    {/snippet}
    </div>
{/block}
