{#content}
	<h1>Welcome page</h1>
	{control addTask}

{*  	<div class="row">
		<div class="col-sm-6">
		{control form}
		</div>
	</div> *}
	
{/#}

{#scripts}
	{include #parent}
{/#}
{#head}{/#}
