<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{block #title|striptags|capitalize}Crowdyze.me{/block}</title>
        <link rel="shortcut icon" href="favicon.ico" />

		<meta name="description" content="The right place for sharing small jobs and earning nice money" />
		<meta name="keywords" content="crowdsourcing, jobs, small tasks" />
		<meta name="robots" content="{$robots}" n:ifset="$robots">

        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'>
        <meta name="viewport" content="width=device-width">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{$basePath}/css/main.min.css">

		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="{!$basePath}/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>

		<script src="{$basePath}/js/common.min.js"></script>
		<script src="{$basePath}/js/nette.min.js"></script>
		<script src="{$basePath}/js/main.min.js"></script>

		{block #head}{/block}
	</head>


	<body class="no-js cbp-spmenu-push">
		<div class="loader"></div>

        <div class="main">
            <div class="header clearfix">
                <strong class="logo"><a n:href="Task:"><img src="{$basePath}/img/logo.png"></a></strong>
                <div class="filter-holder"><a href="#" class="filter" id="showLeft"></a></div>
                <form class="search large-screen">
                    <div class="searchinput-holder">
                        <input class="searchinput">
                    </div>
                </form>

                <ul class="toolbar">
					{if $user->isLoggedIn()}
                    <li><a n:href="Task:add" class="btn btn-primary btn-large btn-addjob" data-toggle="modal" data-target="#modal-place"><span class="addjob-text">Add a job</span><span class="addjob-icon">+</span></a></li>
                    <li class="large-screen"><a n:href=":Messages:default" class="email"><span class="badge">9</span></a></li>
                    <li class="large-screen"><a n:href=":User:" class="user">
						{if isset($userData['profile_photo'])}
						<img src="{thumbnail $userData['profile_photo'] small}" class="img-circle" alt="{_layout.menu.profile}" title="{_layout.menu.profile}" />
						{else}
						<img src="{$basePath}/img/profile-small.png" class="img-circle" alt="{_layout.menu.profile}" title="{_layout.menu.profile}" />
						{/if}			
						</a></li>
                    {else}
                    <li><a n:href="Sign:" class="btn btn-primary btn-large btn-addjob"><span class="addjob-text">{_layout.menu.login}</span><span class="addjob-icon">+</span></a></li>
                    {/if}
                </ul>
            </div>

			<div class="toppanel" n:block="notifier">
				You have no active jobs. Pick some from the offer below...
			</div>
			
			<div class="alert-wp">
				<div n:foreach="$flashes as $flash" class="alert {$flash->type}">{$flash->message}</div>
			</div>

			{include #content}			

        </div>
        <div class="cbp-overlay" id="cbp-overlay"></div>
        <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
            <a href="#" class="filter filter-close"></a>
            <div class="">
                <div class="menu-small-screen">
                    <form class="menu-search">
                        <fieldset>
                            <input type="text">
                        </fieldset>
                    </form>   
                    <a href="">Messages</a>
                    <a href="">Profile</a>
                </div>
                {if $user->isLoggedIn()}
                <a n:href="Task:add" data-toggle="modal">{_layout.menu.add}</a>
                <a n:href="User:">{_layout.menu.profile}</a>
                <a n:href="changeLocale!, en">en</a>
                <a n:href="changeLocale!, sk">sk</a>
                <a n:href="SignOut!">{_layout.menu.logout}</a>
                {/if}
            </div>
        </nav>

{*
		<div n:foreach="$flashes as $flash" class="alert {$flash->type}">{$flash->message}</div>
		<div class="navigation">
			<div class="submenu">
				<ul class="">
					<li n:if="!$user->isLoggedIn()"><a n:href="Sign:">{_layout.menu.login}</a></li>
					<li n:if="$user->isLoggedIn()"><a n:href="Homepage:">{_layout.menu.tasks}</a></li>
				</ul>			
			</div>

			<!-- <a n:href="Homepage:">Crowdyze<span>me</span></a> -->
			<div class="submenu right">
				<ul class="">
					{if $user->isLoggedIn()}
					<li><a n:href="Task:add" data-toggle="modal">{_layout.menu.add}</a></li>
					<li><a n:href="User:">{_layout.menu.profile}</a></li>
					{/if}
				</ul>
			</div>
		</div>

		<div class="container">
			<div class="body-wp">
				{include #content}			
			</div>

			<hr>
			<div class="footer">
				&copy; Dataworkers.eu 2013
				<div class="pull-right">
					<a n:href="changeLocale!, en">en</a>
					<a n:href="changeLocale!, sk">sk</a>
					<a n:href="SignOut!">{_layout.menu.logout}</a>
				</div>
			</div>
		</div>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="{!$basePath}/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
		<script src="{$basePath}/js/common.min.js"></script>
		<script src="{$basePath}/js/nette.min.js"></script>
		<script src="{$basePath}/js/main.min.js"></script>
*}
	

		{block #scripts}
		{/block}

		<script n:syntax="asp">
			// var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
			// (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
			// g.src='//www.google-analytics.com/ga.js';
			// s.parentNode.insertBefore(g,s)}(document,'script'));
		</script>


		<div class="modal-holder" id="modal-window">
            <div class="modal">
                <span class="modal-close" data-dismiss="modal"></span>
				<div class="modal-body"><p>Loading...</p></div>
            </div>
		</div>
		
	</body>
</html>
