<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{block #title|striptags|capitalize}Crowdyze.me{/block}</title>
        <link rel="shortcut icon" href="favicon.ico" />

		<meta name="description" content="The right place for sharing small jobs and earning nice money" />
		<meta name="keywords" content="crowdsourcing, jobs, small tasks" />
		<meta name="robots" content="{$robots}" n:ifset="$robots">

        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'>
        <meta name="viewport" content="width=device-width">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{$basePath}/css/jquery.custombox.css">
        <link rel="stylesheet" href="{$basePath}/css/icheck-default.css">
        <link rel="stylesheet" href="{$basePath}/css/icheck-large.css">
        <link rel="stylesheet" href="{$basePath}/css/customselect.css">
        <link rel="stylesheet" href="{$basePath}/css/main.css">

		{block #head}{/block}
	</head>

<body class="no-js cbp-spmenu-push">

        <div class="main">
            <div class="header clearfix">
                <strong class="logo"><a href=""><img src="img/logo.png"></a></strong>
                <div class="filter-holder"><a href="#" class="filter" id="showLeft"></a></div>
                <form class="search large-screen">
                    <div class="searchinput-holder">
                        <input class="searchinput">
                    </div>
                </form>
                <ul class="toolbar">
                    <li><a href="" class="btn btn-primary btn-large btn-addjob"><span class="addjob-text">Add a job</span><span class="addjob-icon">+</span></a></li>
                    <li class="large-screen"><a href="" class="email"><span class="badge">3</span></a></li>
                    <li class="large-screen"><a href="" class="user"><img src="img/userphoto.png"></a></li>
                </ul>
            </div>

			<div class="toppanel" n:block="notifier">
				You have no active jobs. Pick some from the offer below...
			</div>

			{include #content}			

        </div>
        <div class="cbp-overlay" id="cbp-overlay"></div>
        <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
            <a href="#" class="filter filter-close"></a>
            <div class="">
                <div class="menu-small-screen">
                    <form class="menu-search">
                        <fieldset>
                            <input type="text">
                        </fieldset>
                    </form>   
                    <a href="">Messages</a>
                    <a href="">Profile</a>
                </div>
                <?php
              /*
                foreach ($pages as $single) {
                    echo '<a id="temp-' . $single . '" href="index.php?p=' . $single . '">' . $single . '</a>';
                }
                * */
                ?>
            </div>
        </nav>

{*
	<div n:foreach="$flashes as $flash" class="alert {$flash->type}">{$flash->message}</div>
	<div class="navigation">
		<div class="submenu">
			<ul class="">
				<li n:if="!$user->isLoggedIn()"><a n:href="Sign:">{_layout.menu.login}</a></li>
				<li n:if="$user->isLoggedIn()"><a n:href="Homepage:">{_layout.menu.tasks}</a></li>
			</ul>			
		</div>

		<div class="logo" href="#"><a n:href="Homepage:"><img src="{$basePath}/images/crowdyzeme.png"></a></div>
		<!-- <a n:href="Homepage:">Crowdyze<span>me</span></a> -->
		<div class="submenu right">
			<ul class="">
				{if $user->isLoggedIn()}
				<li><a n:href="Task:add">{_layout.menu.add}</a></li>
				<li><a n:href="User:">{_layout.menu.profile}</a></li>
				{/if}
			</ul>
		</div>
	</div>

	<div class="container">
		<div class="body-wp">
			{include #content}			
		</div>

		<hr>
		<div class="footer">
			&copy; Dataworkers.eu 2013
			<div class="pull-right">
				<a n:href="changeLocale!, en">en</a>
				<a n:href="changeLocale!, sk">sk</a>
				<a n:href="SignOut!">{_layout.menu.logout}</a>
			</div>
		</div>
	</div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="{!$basePath}/js/build/jquery-1.10.1.min.js"><\/script>')</script>
	<script src="{$basePath}/js/build/common.min.js"></script>
	<script src="{$basePath}/js/build/nette.min.js"></script>
	<script src="{$basePath}/js/build/main.min.js"></script>
	*}

        <script src="{$basePath}/js/vendor/jquery-1.9.1.min.js"></script>
        <script src="{$basePath}/js/vendor/jquery.idTabs.min.js"></script>
        <script src="{$basePath}/js/vendor/masonry.pkgd.min.js"></script>
        <script src="{$basePath}/js/vendor/jquery.custombox.js"></script>
        <script src="{$basePath}/js/vendor/typeahead.min.js"></script>
        <script src="{$basePath}/js/vendor/jquery.icheck.min.js"></script>        
        <script src="{$basePath}/js/vendor/jquery.customSelect.min.js"></script>   
        <script src="{$basePath}/js/main.js"></script>


	{block #scripts}
	{/block}

	<script n:syntax="asp">
		// var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
		// (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
		// g.src='//www.google-analytics.com/ga.js';
		// s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>



        <div class="modal-holder" style="" id="modal-1">
            <div class="modal">
                <a href="" class="modal-close"></a>
                <span class="modal-corner">Coding</span>
                <div class="inner">
                    <h1>We need to get as many
                        sign-ups as possible</h1>
                    <h2 class="price">Get $1.49</h2>
                    <div class="details">
                        <li>Payments for all the same</li>
                        <li>3 workers needed  </li>
                        <li>4 days left</li>
                    </div>
                    <p>Aenean semper placerat erat, a tempus ante rhoncus non. Nullam
                        tempor risus at iaculis lobortis. Vivamus nulla dui, porta at auctor
                        non, ultricies id odio. Sed sit amet sem quis felis vestibulum
                        interdum ac interdum erat.</p>
                    <a href="" class="btn btn-large btn-primary">
                        Apply to this Job
                    </a>
                    <p>
                        or <a href="">Share on Facebook</a>
                    </p>
                    <hr>
                    <h5>Atachements</h5>

                    <ul class="attachements">
                        <li>
                            <a href="" class="file-doc">
                                Document.doc <span class="file-size">468 KB</span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="file-avi">
                                Document.doc <span class="file-size">468 KB</span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="file-mp3">
                                Document.doc <span class="file-size">468 KB</span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="file-jpg">
                                Document.doc <span class="file-size">468 KB</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <form class="form clearfix">
                    <legend>Comments <span class="count">(0)</span></legend>
                    <textarea></textarea>
                    <input type="submit" class="btn pull-right" value="Send">
                </form>
                <div class="inner">
                    <div class="comment">
                        <div class="comment-avatar">
                            <a href=""><img src="img/userphoto.png"></a>
                        </div>
                        <div class="comment-content">
                            <h4 class="comment-author"><a href="">Meno komentujuceho</a></h4>
                            <div class="comment-message">
                                <p>Pellentesque fringilla nec lorem quis elementum. Nullam tristique
                                    venenatis tristique. Nulla interdum consectetur ligula, sed volutpat
                                    enim interdum in.</p>
                                <div class="comment-time">27 mins. ago</div>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <div class="comment-avatar">
                            <img src="img/userphoto.png">
                        </div>
                        <div class="comment-content">
                            <h4 class="comment-author"><a href="">Meno komentujuceho</a></h4>
                            <div class="comment-message">
                                <p>Pellentesque fringilla nec lorem quis elementum. Nullam tristique
                                    venenatis tristique. Nulla interdum consectetur ligula, sed volutpat
                                    enim interdum in.</p>
                                <div class="comment-time">27 mins. ago</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-holder" id="modal-2">
            <div class="modal">
                <a href="" class="modal-close"></a>

                <form class="form-modal form-addjob">
                    <fieldset>
                        <input type="submit" class="btn-large btn-primary btn" value="Apply to this job">
                        <input type="text" class="textinput input-tag" placeholder="Insert category tag ...">
                        <input type="text" class="textinput input-title" placeholder="We need to ...">
                        <input type="text" class="textinput input-price" placeholder="Get $ Inser amount ...">
                        <div class="modal-inputs">
                            <div class="modal-col">
                                <input type="text" class="textinput input-payment" placeholder="Payment ...">
                            </div>
                            <div class="modal-col">
                                <input type="text" class="textinput input-workers" placeholder="... workers needed">
                            </div>
                            <div class="modal-col">
                                <input type="text" class="textinput input-date" placeholder="Due on ...">
                            </div>
                        </div>
                        <textarea class="input-description" placeholder="Type description"></textarea>
                        <input type="submit" class="btn-large btn-primary btn" value="Apply to this job">
                        <p>
                            or <a href="">Share on Facebook</a>
                        </p>
                    </fieldset>
                    <div class="">
                        <hr>
                        <h5>Atachements</h5>

                        <ul class="attachements">
                            <li>
                                <a href="" class="file-doc">
                                    Document.doc <span class="file-size">468 KB</span>
                                </a>
                            </li>
                            <li>
                                <a href="" class="file-avi">
                                    Document.doc <span class="file-size">468 KB</span>
                                </a>
                            </li>
                            <li>
                                <a href="" class="file-mp3">
                                    Document.doc <span class="file-size">468 KB</span>
                                </a>
                            </li>
                            <li>
                                <a href="" class="file-jpg">
                                    Document.doc <span class="file-size">468 KB</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-overlay" style="display: none"></div>


</body>
</html>
